<div class="col-md-2">
  <ul class="sidebar-nav">
    <p><strong>Производитель</strong></p>
    <li>
      <label>
        <input type="checkbox" title="Asus" value="Asus" class="producer" #Asus (change)="OnCheckProducer(Asus.className, Asus.value, Asus.checked)">
      </label> Asus
    </li>
    <li>
      <label>
        <input type="checkbox" title="Acer" value="Acer" class="producer" #Acer (change)="OnCheckProducer(Acer.className, Acer.value, Acer.checked)">
      </label> Acer
    </li>
    <li>
      <label>
        <input type="checkbox" title="Apple" value="Apple" class="producer" #Apple (change)="OnCheckProducer(Apple.className, Apple.value, Apple.checked)">
      </label> Apple
    </li>
  </ul>
  <ul class="sidebar-nav">
    <p><strong>Процессор</strong></p>
    <li>
      <label>
        <input type="checkbox" title="AMD" value="AMD" class="processor" #AMD (change)="OnCheckProcessor(AMD.className, AMD.value, AMD.checked)">
      </label> AMD
    </li>
    <li>
      <label>
        <input type="checkbox" title="Intel" value="Intel" class="processor" #Intel (change)="OnCheckProcessor(Intel.className, Intel.value, Intel.checked)">
      </label> Intel
    </li>
  </ul>
</div>
  <div class="col-md-10">
    <div class="col-xs-6 col-md-3" *ngFor="let notebook of notebooks | filterByProcessor: processorSearch
    | notebooksFilter: producerSearch

    index as i">
      <div class="thumbnail">
        <a href="#"><img src="../../assets/{{i + 1}}.jpg" alt="notebook"></a>
        <h3>{{notebook.producer}}</h3>
        {{notebook.processor}} <br>
        <strong>{{notebook.price}} грн</strong>
      </div>
    </div>
    </div>

